<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Followers-Following</title>
</head>

<body>

    <div class="container mx-auto mt-4">

        <h1 class="text-center"> Instagram Followers-Following </h1>

        <div class=" row">

            <% arr.map((item)=> { %>

                <div class="col-md-4 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn141.picsart.com/357697367045201.jpg" class="card-img-top" alt="Sample Img">
                        <div class="card-body">
                            <h5 class="card-title text-center" ">
                                <%= item %>
                            </h5>
                        </div>
                    </div>
                </div>

                <% }) %>
    </div>
    </div>

</body>

</html>